<%= form_with model: q, url: boards_search_path, method: :get, local: true, class: "form-inline" do |f| %>
  <div style="width: 450px; margin: 0 auto;">
    <div class="input-group mb-5">
      <%= f.search_field :query_cont, class: "form-control", placeholder: "カメラのメーカーまたは機種を検索" %>
      <div class="input-group-append">
        <%= f.submit "検索", class: "btn btn-primary", style: "min-width: 60px; white-space: nowrap;" %>
      </div>
    </div>
  </div>
<% end %>
