<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>プライバシー・ポリシー</title>
    <link rel="stylesheet" type="text/css" href="path/to/footer.css">
</head>
<body class="terms-and-privacy">
    <div id="content">
        <h1>プライバシーポリシー</h1>
        <p>最終更新日: 2024年12月09日</p>
        <p>このプライバシーポリシーは、サービスを使用する際のあなたの情報の収集、使用、開示に関する当社の方針と手順を説明し、あなたのプライバシー権と法的保護についてお知らせします。</p>
        <p>私たちは、サービスを提供し改善するためにあなたの個人データを使用します。サービスを使用することで、このプライバシーポリシーに従って情報の収集と使用に同意したことになります。このプライバシーポリシーは、<a href="https://www.freeprivacypolicy.com/free-privacy-policy-generator/" target="_blank">無料プライバシーポリシージェネレーター</a>を利用して作成されました。</p>

        <h2>解釈と定義</h2>
        <h3>解釈</h3>
        <p>最初の文字が大文字の単語は、以下の条件に基づいて定義された意味を持ちます。以下の定義は、単数形または複数形に関係なく同じ意味を持ちます。</p>

        <h3>定義</h3>
        <p>このプライバシーポリシーの目的のために、次のように定義します：</p>
        <ul>
            <li><strong>アカウント</strong>とは、あなたが当社のサービスまたはその一部にアクセスするために作成した一意のアカウントを指します。</li>
            <li><strong>関連会社</strong>とは、当事者が支配する、支配されている、または共通の支配下にある事業体を指し、「支配」とは、50％以上の株式、株式持分、または取締役選任のための議決権を有する証券の所有を意味します。</li>
            <li><strong>会社</strong>（この契約では「会社」、「私たち」、「私たちの」とも呼ばれます）とは、OldCam1700を指します。</li>
            <li><strong>クッキー</strong>とは、あなたのコンピューター、モバイルデバイス、またはその他のデバイスにウェブサイトが配置する小さなファイルで、その多くの用途の中であなたのブラウジング履歴に関する詳細を含んでいます。</li>
            <li><strong>国</strong>とは、日本を指します。</li>
            <li><strong>デバイス</strong>とは、コンピューター、携帯電話、デジタルタブレットなど、サービスにアクセスできる任意のデバイスを指します。</li>
            <li><strong>個人データ</strong>とは、識別されたまたは識別可能な個人に関する情報を指します。</li>
            <li><strong>サービス</strong>とは、ウェブサイトを指します。</li>
            <li><strong>サービスプロバイダー</strong>とは、会社に代わってデータを処理する自然人または法人を指します。これは、サービスを促進するため、または会社の代わりにサービスを提供するために雇用された第三者の企業や個人を指します。</li>
            <li><strong>第三者ソーシャルメディアサービス</strong>とは、ユーザーがログインまたはアカウントを作成してサービスを利用できるウェブサイトやソーシャルネットワークサイトを指します。</li>
            <li><strong>使用データ</strong>とは、サービスの使用やサービスインフラ自体から自動的に収集されたデータを指します（例：ページ訪問の時間など）。</li>
            <li><strong>ウェブサイト</strong>とは、OldCam1700を指し、<a href="https://powerful-retreat-19148-b4a8d184d03d.herokuapp.com/" rel="external nofollow noopener" target="_blank">https://powerful-retreat-19148-b4a8d184d03d.herokuapp.com/</a>からアクセスできます。</li>
            <li><strong>あなた</strong>とは、サービスにアクセスまたは使用している個人、またはその個人が代理でサービスを利用している会社やその他の法人を指します。</li>
        </ul>

        <h2>あなたの個人データの収集と使用</h2>
        <h3>収集されるデータの種類</h3>

        <h4>個人データ</h4>
        <p>当社のサービスを利用しているとき、当社はあなたに連絡したり識別したりするために使用できる特定の個人を特定できる情報を提供してもらうことがあります。個人を識別できる情報には、次のようなものが含まれますが、これに限りません：</p>
        <ul>
            <li>メールアドレス</li>
            <li>使用データ</li>
        </ul>

        <h4>使用データ</h4>
        <p>使用データは、サービスを使用する際に自動的に収集されます。</p>
        <p>使用データには、あなたのデバイスのインターネットプロトコルアドレス（例：IPアドレス）、ブラウザの種類、ブラウザのバージョン、訪問したサービスのページ、訪問の時間と日付、ページに費やした時間、ユニークなデバイス識別子、その他の診断データが含まれる場合があります。</p>
        <p>モバイルデバイスを通じてサービスにアクセスする場合、モバイルデバイスの種類、ユニークID、IPアドレス、モバイルオペレーティングシステム、モバイルブラウザの種類、ユニークデバイス識別子、その他の診断データを自動的に収集することがあります。</p>
        <p>また、サービスにアクセスする際にあなたのブラウザが送信する情報を収集することもあります。</p>

        <h4>第三者ソーシャルメディアサービスからの情報</h4>
        <p>当社は、次の第三者ソーシャルメディアサービスを通じてアカウントを作成し、サービスを利用することを許可しています：</p>
        <ul>
            <li>Google</li>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Twitter</li>
            <li>LinkedIn</li>
        </ul>
        <p>第三者ソーシャルメディアサービスを通じて登録したりアクセスを許可した場合、当社はそのアカウントに関連する個人データ（名前、メールアドレス、活動内容、連絡先リストなど）を収集することがあります。</p>
        <p>あなたはまた、第三者ソーシャルメディアサービスのアカウントを通じて、追加情報を当社に提供するオプションがある場合があります。情報や個人データを提供することで、その情報を当社が使用、共有、保存することに同意したことになります。</p>

        <h4>追跡技術とクッキー</h4>
        <p>当社は、サービス上での活動を追跡し、特定の情報を保存するためにクッキーおよび同様の追跡技術を使用します。使用される追跡技術には、ビーコン、タグ、スクリプトが含まれており、情報を収集・追跡し、サービスの改善および分析を行います。使用する技術には以下が含まれます：</p>
        <ul>
            <li><strong>クッキーまたはブラウザクッキー。</strong>クッキーは、あなたのデバイスに配置される小さなファイルです。ブラウザにすべてのクッキーを拒否するよう指示することができますが、クッキーを受け入れない場合、サービスの一部を使用できない場合があります。</li>
            <li><strong>ウェブビーコン。</strong>当社のサービスの特定のセクションやメールには、小さな電子ファイルであるウェブビーコン（クリアGIF、ピクセルタグ、シングルピクセルGIFとも呼ばれます）が含まれており、ユーザーがそのページを訪問したり、メールを開いたりした数をカウントしたり、システムの統計を記録したりします。</li>
        </ul>
        <p>クッキーは「永続的」または「セッション」クッキーとして分類されます。永続的クッキーは、オフライン時にもあなたのコンピューターやモバイルデバイスに残りますが、セッションクッキーはブラウザを閉じると削除されます。</p>
        <p>当社は、以下の目的でセッションクッキーおよび永続的クッキーの両方を使用します：</p>
        <ul>
            <li><strong>必要 / 重要なクッキー</strong></li>
            <p>種類：セッションクッキー</p>
            <p>管理者：当社</p>
            <p>目的：これらのクッキーは、ウェブサイトを通じてサービスを提供し、あなたが要求したサービスを利用できるようにするために必要です。ユーザーの認証や不正使用の防止に役立ちます。</p>
        </ul>
        <h2>このプライバシーポリシーの変更</h2>
            <p>当社は、プライバシーポリシーを随時更新することがあります。新しいプライバシーポリシーは、このページに掲載されることで通知されます。</p>
            <p>変更が有効になる前に、電子メールまたは当社のサービス上に目立つ通知を通じてお知らせし、「最終更新日」の欄を更新いたします。</p>
            <p>変更があった場合は、定期的にこのプライバシーポリシーを確認することをお勧めします。プライバシーポリシーの変更は、このページに掲載された時点で有効となります。</p>

        <h2>お問い合わせ</h2>
            <p>このプライバシーポリシーに関してご質問がある場合は、以下の方法でお問い合わせいただけます：</p>
        <ul>
            <li>メールでのお問い合わせ：sample@gmail.com</li>
        </ul>
    </div>
    </body>
</html>
