<footer id="footer" class="footer-bottom footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="links">
          <a href="<%= terms_of_service_path %>">利用規約</a> |
          <a href="<%= privacy_policy_path %>">プライバシーポリシー</a>
        </div>
      </div>
      <div class="col-sm-6 col-12 text-sm-right">
        <div class="copyright">
          <p>Copyright © 2024 OldCam1700</p>
        </div>
      </div>
    </div>
  </div>
</footer>



