<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= board.id %>">
    <div class="card">
      <%= image_tag board.board_image_url, class: "card-img-top", width: "300", height:"200" %>
      ... 省略...
    </div>
  </div>
</div>