<div class="index-item">
  <%= link_to board_path(board) do %>
    <!-- 画像表示 -->
    <div class="index-image-wrapper">
      <%= image_tag board.board_image.url, class: "index-image" %>
    </div>
  <% end %>
</div>

