<h2 style="line-height: 1; font-weight: 300; text-align: center; margin-bottom: 60px;">"<%= @make %>" の投稿一覧</h2>



<!-- 投稿一覧部分 -->
<div class="image-container2 d-flex flex-wrap justify-content-center">
<% @boards.each do |board| %>
  <div class="image-item2">
    <%= link_to board_path(board) do %>
      <%= image_tag board.board_image.url, class: 'img-fluid' %>
    <% end %>
  </div>
<% end %>
</div>
<%= paginate @boards %>

