<h2 style="line-height: 1; font-weight: 300; text-align: center;">"<%= @model %>" の投稿一覧</h2>


<!-- 投稿一覧部分 -->
<div class="row index-row">
  <div class="col-12">
    <div class="row">
      <% if @boards.present? %>
        <%= render @boards %>
      <% else %>
        <div class="mb-3">投稿がありません</div>
      <% end %>
    </div>
  </div>
</div>
