/* 必須 */
.hissu {
    background-color: #6c757d !important;  // グレーの背景
    padding: 5px 10px;  // ラベルの余白を調整
    font-size: 0.875rem;  // 少し小さくする
}

/* 投稿ボタン */
.toukou {
    width: 40%;  /* 幅を50%に設定 */
    max-width: 80px;  /* 最大幅を300pxに設定（必要に応じて調整） */
    background-color: #125aa1;  /* 紺色のバックカラー */
    color: white;  /* 白文字 */
    border-radius: 30px;  /* 角丸 */
    padding: 10px 20px;  /* パディングでボタンの大きさ調整 */
    border: none;  /* ボーダーなし */
    font-weight: 300;  /* 文字を細く */
    font-size: 16px;  /* 文字サイズ */
    margin: 0 auto;  /* 横の中央寄せ */
    transition: background-color 0.3s ease;  /* ホバー時のアニメーション */
}

.toukou:hover {
    background-color: #002244;  /* ホバー時のバックカラー */
}

/* 入力フィールドの枠線 */
.form-control {
    border: 1px solid #00000042;  
}

/* 必須 */
.required-label {
    color: red;
    font-size: 14px;
    margin-right: 10px; /* タイトルと適切な間隔をあける */
    margin-top: -35px;  /* 必須ラベルを上に少し移動 */
    margin-left: 20px;  /* 右に少し寄せる */
}
  
  

  