.toukou {
    width: 40%;  
    max-width: 80px;  
    background-color: #125aa1;  
    color: white;  
    border-radius: 30px;  
    padding: 10px 20px;  
    border: none;  
    font-weight: 300;  
    font-size: 16px;  
    margin: 0 auto;  
    transition: background-color 0.3s ease;  
}

.toukou:hover {
    background-color: #002244;  
}

.form-control {
    border: 1px solid #00000042;  
}

.required-label {
    position: absolute; 
    color: red;
    font-size: 14px;
    left: 30px; 
    top: 5px; 
}

.card-body {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .board-title {
    margin-right: 10px;
  }
  
  .action-icons {
    margin-right: 10px;
    display: flex;
    gap: 10px; 
    align-items: center; 
  }
  
  .action-icon {
    width: 24px; 
    height: auto;
    cursor: pointer; 
  }
  
  .delete-button {
    width: auto;  
    padding: 10px 20px;  
    background-color: #a9a9a9;  
    border: 1px solid #a5a2a2;     
    border-radius: 5px;         
    padding: 5px 10px;          
    color: #ffffff;             
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .delete-button .delete-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .delete-form {
    display: inline-block;
  }
  
  .suggestion-item {
    padding: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }
  

  @media (max-width: 768px) {

    .required-label {
      margin-left: -15px;
    }

    .migi {
      display: inline; 
      margin-left: 35px; 
    }
  }

.camera_model_suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px; 
  overflow-y: auto; 
  border: none; 
  background-color: #fff;
  position: absolute;
  z-index: 1000;
  width: 34%; 

  .suggestion-item {
    padding: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    width: 100%;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

