.card {
    border: none; 
    box-shadow: none; 
  }
  
  .post-info2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: lighter; 
    font-size: 16px; 
    margin-top: 50px;
  }

  .camera-info p {
    position: relative;
    top: 22px; 
  }

  .camera-icon {
    width: 20px; 
    margin-right: 5px; 
    margin-top: 30px; 
  }
  

  .user-info p {
    margin-bottom: 2px; 
  }
  
  
  .board-media {
    text-align: center;
  }


  .back_button {
    background-color: #6c757d; 
    color: #fff; 
    padding: 7px 20px; 
    border-radius: 20px; 
    font-size: 16px; 
    border: none; 
    text-align: center; 
    text-decoration: none; 
    margin-top: 30px; 
  }
  
  .back_button:hover {
    background-color: #5a6268;
    text-decoration: none;
  }
  