/* OldCam1700のロゴ */
.navbar-brand img {
    width: 200px;   
    height: 70px;   
}

/* ログイン/新規登録のアイコン */
.login-icon-class {
    margin: 0 auto;      /* 中央揃え */
    width: 30px;  /* アイコンの幅 */
    height: 30px; /* アイコンの高さ */
    display: block; /* ブロック要素として表示 */
    margin-bottom: 5px; /* アイコンとテキストの間に余白を追加 */
}
  
  /* ログイン/新規登録のアイコン下の文字 */
.login-icon-text {
    display: block; /* テキストをブロック要素にしてアイコンの下に配置 */
    font-size: 0.6rem; /* フォントサイズを小さめに */
    text-align: center; /* テキストを中央揃え */
    color: #333; /* テキストの色を指定 */
    margin-top: 2px; /* アイコンとテキストの間の余白を調整 */
}

/* 使い方のアイコン */
.note-icon-class {
    margin: 0 auto; /* 中央揃え */
    width: 20px;    /* アイコンの幅 */
    height: 20px;   /* アイコンの高さ */
    display: block; /* ブロック要素として表示 */
    margin-bottom: 5px; /* アイコンと文字の間に余白を追加 */
}

/* 使い方のアイコン下の文字 */
.note-icon-text {
    display: block;        /* ブロック要素にしてアイコンの下に配置 */
    font-size: 0.8rem;     /* フォントサイズを小さく */
    text-align: center;    /* テキストを中央揃え */
    color: #333;           /* テキストの色 */
    margin-top: 2px;       /* アイコンと文字の間の余白 */
}

/* アイコン全体を少し下に移動 */
.modal-btn {
    margin-top: 15px; /* 全体を下に移動するマージン */
}