/* ログインボタン */
.btn {
    width: 50%; /* 横幅を広げる */
    background-color: rgba(169, 169, 169, 0.7); /* 背景色を薄いグレー */
    border-color: rgba(169, 169, 169, 0.7); /* ボーダーも薄いグレー */
}

/* ログインボタンマウスオーバー時の設定 */
.btn:hover {
    background-color: rgba(169, 169, 169, 1); /* 背景色を濃く */
    border-color: rgba(169, 169, 169, 1); /* ボーダーも濃く */
}

/* パスワードをお忘れの方はこちら */
.color-link {
    color: rgba(169, 169, 169, 0.7); /* グレー色 */
    text-decoration: none; /* 下線を消す（必要に応じて） */
}
  
  /* パスワードをお忘れの方はこちらのマウスオーバー時の設定 */
.color-link:hover {
    color: rgba(169, 169, 169, 1); /* 濃いグレー */
}

/* 新規登録はこちらリンクをボタン風に */
.btn2 {
    text-decoration: none; /* 下線を消す */
}


