
.btn {
    width: 50%; 
    background-color: rgba(169, 169, 169, 0.7); 
    border-color: rgba(169, 169, 169, 0.7); 
}

.btn:hover {
    background-color: rgba(169, 169, 169, 1); 
    border-color: rgba(169, 169, 169, 1); 
}

.color-link {
    color: rgba(169, 169, 169, 0.7); 
    text-decoration: none; 
}
  
.color-link:hover {
    color: rgba(169, 169, 169, 1); 
}

.btn2 {
    text-decoration: none; 
}


