.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .pagination>li>a {
    display: inline-block;
    width: 35px;    
    height: 35px;    
    line-height: 35px;    
    text-align: center; 
    border-radius: 50%;  
    border: 2px solid #696969; 
    color: #696969;   
    text-decoration: none; 
    transition: all 0.3s;  
  }

  .pagination>.active>a {
    background: #343434;   
    color: white;     
    border-color: #000000;  
  }

  .pagination>li>a:hover {
    background: #343434;   
    color: white;      
    border-color: #000000; 
  }

  .pagination .page-item.disabled .page-link {
    color: #ccc;    
    background: transparent; 
    border: none;     
  }

  .pagination .page-item.active .page-link {
    background-color: #343434; 
    color: white;    
  }

  .pagination .page-item:not(.active) .page-link {
    border-radius: 50%; 
    color: #696969;  
  }

  .pagination .page-item.disabled .page-link {
    color: #ccc;    
    background: transparent; 
    border: none;    
  }

.pagination>li {
    margin-right: 10px;  
  }

  .pagination>li:last-child {
    margin-right: 0;
  }

  .pagination>li.page-item {
    margin-left: 10px;  
  }

.pagination .page-item.page-item-prev a,
.pagination .page-item.page-item-next a {
  border-radius: 0;
}

.pagination>li.page-item>a {
    display: flex;            
    justify-content: center;  
    align-items: center;      
    width: 35px;             
    height: 35px;             
    border-radius: 50%;       
    text-align: center;       
  }

  .pagination>li.page-item.active>a {
    background: #93c9ff; 
    border-radius: 50%;      
    color: #fff;           
  }

  .pagination>li.page-item>a {
    font-size: 16px;           
    font-weight: bold; 
  }
  