#suggestions {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    position: absolute;
    background-color: white;
    width: calc(100% - 2px); /* スペースを埋める */
    z-index: 10;
  }
  
  #suggestions div {
    padding: 5px;
    cursor: pointer;
  }
  
  #suggestions div:hover {
    background-color: #f0f0f0;
  }
  