.top-wrapper {
    background-image: url('top.jpg');
    height: calc(100vh - 134px);
    position: relative;
    background-position: center;
  
    .top-inner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      font-size: 3rem;
      color: rgb(0, 0, 0);
  
      @media screen and (max-width: 767px) {
        font-size: 2rem;
      }
    }
  }

  /* フッター */
  html, body {
    height: 100%; /* ページ全体の高さを100%に設定 */
    margin: 0;    /* デフォルトの余白を削除 */
  }
  
  body {
    display: flex;           /* フレックスボックスでレイアウト */
    flex-direction: column;  /* 要素を縦に並べる */
    min-height: 100vh;       /* ビューポートの高さ（画面全体）の100%を最小の高さに設定 */
  }
  
  .main-content {
    flex-grow: 1; /* メインコンテンツが空いているスペースを占める */
  }
  
  footer.footer {
    display: flex;                    /* フレックスボックスでレイアウト */
    margin-top: auto;                 /* フッターをページの一番下に押し込む */
    background-color: #f8f9fa;        /* 背景色 */
    padding: 10px 0;                  /* 上下のパディングを10pxにして余白を狭く */
    justify-content: space-between;   /* 左右のコンテンツを端に寄せる */
    border-top: 1px solid #e0e0e0;    /* 上部に薄いグレーの線 */
  }
  
  footer.footer .links {
    display: flex;                    /* リンクを並べる */
    align-items: center;              /* 縦方向で中央揃え */
  }
  
  footer.footer .links a {
    color: #6c757d;                   /* グレーの色を指定 */
    text-decoration: none;            /* 下線を削除 */
    font-size: 14px;                  /* 文字サイズを小さくする */
    margin-left: 10px;                /* リンク間に少し余白を加える */
  }
  
  footer.footer .links a:hover {
    color: #5a6268;                   /* ホバー時の色を少し濃いグレーに変更 */
    text-decoration: underline;       /* ホバー時に下線を追加 */
  }

  footer.footer .links a:first-child {
    margin-left: 0; /* 最初のリンクの左マージンをゼロに */
  }
  
  footer.footer .links a:not(:last-child) {
    margin-right: 10px; /* 最後のリンク以外に右マージンを設定 */
  }
  
  footer.footer .copyright {
    text-align: right; /* 右寄せにする */
    font-size: 1px;                  /* 文字サイズを少し小さく */
    color: #6c757d;                   /* グレーの色を指定 */
  }
  
  
  
  
  /* レスポンシブ対応 */
@media (max-width: 768px) {
  footer.footer {
    flex-direction: column;       /* フレックス方向を縦に変更 */
    align-items: center;          /* 中央揃え */
    text-align: center;           /* 中央揃え */
  }

  footer.footer .links {
    margin-bottom: 10px;          /* 下部に余白を追加 */
    justify-content: center;      /* リンクを中央揃え */
  }

  footer.footer .copyright {
    text-align: center;           /* コピーライトも中央揃え */
    font-size: 10px;              /* モバイル用にフォントサイズを調整 */
  }
}

  

  
  
  
  