.top-wrapper {
    background-image: url('top.jpg');
    height: calc(100vh - 134px);
    position: relative;
    background-position: center;
  
    .top-inner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      font-size: 3rem;
      color: rgb(0, 0, 0);
  
      @media screen and (max-width: 767px) {
        font-size: 2rem;
      }
    }
  }

  html, body {
    height: 100%; 
    margin: 0;    
  }
  
  body {
    display: flex;          
    flex-direction: column;  
    min-height: 100vh;       
  }
  
  .main-content {
    flex-grow: 1; 
  }
  
  footer.footer {
    display: flex;                   
    margin-top: auto;               
    background-color: #f8f9fa;        
    padding: 10px 0;              
    justify-content: space-between;   
    border-top: 1px solid #e0e0e0;   
  }
  
  footer.footer .links {
    display: flex;         
    align-items: center;  
  }
  
  footer.footer .links a {
    color: #6c757d;      
    text-decoration: none;  
    font-size: 14px;    
    margin-left: 10px;  
  }
  
  footer.footer .links a:hover {
    color: #5a6268;       
    text-decoration: underline;     
  }

  footer.footer .links a:first-child {
    margin-left: 0; 
  }
  
  footer.footer .links a:not(:last-child) {
    margin-right: 10px; 
  }
  
  footer.footer .copyright {
    text-align: right; 
    font-size: 1px;                
    color: #6c757d;    
  } 
  
@media (max-width: 768px) {
  footer.footer {
    flex-direction: column;     
    align-items: center;  
    text-align: center;    
  }

  footer.footer .links {
    margin-bottom: 10px;      
    justify-content: center;  
  }

  footer.footer .copyright {
    text-align: center;   
    font-size: 10px;      
  }
}

  

  
  
  
  